# OS-specific files
.DS_Store
Thumbs.db

# Local development logs
npm-debug.log*
yarn-error.log*

# Build directories (if you use a generator later)
/public/
/resources/_gen/

# Editor-specific files
.vscode/
.idea/
